.Rproj.user
.Rhistory
*.RData
*.csv
*.xlsx
*.Rda
!simulatie_2021/results/*.txt
*.log
*.tex
*.docx
simulatie_2021/Simulatie 2021_3.R
*.dll
!curry.rda
!bonapersona.rda
inst/doc
*.aux
*.out
*.ttt
paper/nul
*.cpp
*.dll
*.o
*.h
*.cc
paper/45941056_File000003_1125688347.pdf
/doc/
/Meta/
!paper/Supplemental_table_S1_beta_variance.csv
!paper/Supplemental_table_S2_tau_variance.csv
